/* SUMMARY 

- RESET
- NAV
- CURSOR
- NOISE
- HOME
- SIDE BANNERS

*/

/* ------------------------------------------------
                    RESET
--------------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  // color: inherit;
  font-family: inherit;
  // background-color: inherit;
  text-align: center;
}

body {
  // background-color: #141414;
  background-color: black;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: white;
  cursor: none;
  --frame-of-shit-width: 25px;
  --frame-of-shit-duration: 60s;
}

.para {
  // display: hidden;
  opacity: 0;
  color: red;
}

.active {
  // display: block;
  opacity: 1;
  color: blue;
}

// /* ------------------------------------------------
//                     HEADER
// --------------------------------------------------- */
header {
  height: 8vh;
  // background-color: red;
  width: 100%;
  font-size: clamp(0.7rem, 1vw, 0.9rem);

  nav {
    width: 98%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  ul {
    display: flex;
    // background-color: blue;
  }
  li {
    margin: 1vw;
  }
  a {
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.not-visible {
  opacity: 0;
}

/* ------------------------------------------------
                    NAV
--------------------------------------------------- */

// .menu {
//   position: fixed;
//   top: 3vh;
//   left: -2vw;
//   width: 100%;
//   height: 50px;
//   z-index: 10%;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   padding: 0 2vw;
//   z-index: 100;
//   mix-blend-mode: difference;

//   &__tog {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     width: 30px;
//     height: 10px;
//     justify-content: space-around;
//     // cursor: pointer;
//     transition: 0.5s;
//     transform: center;

//     & span {
//       height: 2px;
//       background-color: #fff;
//       // background-color: #b9b9b9;
//       transform-origin: center;
//       transition: 0.2s;
//     }

//     & span:nth-child(1) {
//       width: 100%;
//     }

//     & span:nth-child(2) {
//       width: 100%;
//     }

//     &.active span {
//       position: absolute;
//       left: 0%;
//       width: 100%;
//     }

//     &.active span:nth-child(1) {
//       top: 40%;
//       transform: rotate(45deg);
//     }

//     &.active span:nth-child(2) {
//       bottom: 40%;
//       transform: rotate(-45deg);
//     }
//   }
// }

// @media only screen and (max-width: 768px) {
//   .menu {
//     top: 5vh;
//     left: -10vw;
//   }
// }

// .wrapper {
//   position: fixed;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100%;
//   z-index: 10;

//   & > .transition {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//   }

//   ul {
//     position: relative;
//     top: -5vh;
//     z-index: 2;
//     opacity: 0;
//     transition: 0.5s;
//     height: 300px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-align: center;
//     pointer-events: none;
//     color: black;

//     &.active {
//       opacity: 1;
//       pointer-events: all;
//     }
//   }
// }

// // li:hover {
// //   cursor: pointer;
// // }

/* ------------------------------------------------
                    CURSOR
--------------------------------------------------- */
#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    transform: scale(2);
    width: 16px;
    height: 16px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    // background-color: white;
    border: solid 1px rgb(255, 255, 255);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  // Annimation sur le burger
  .menu-tog:hover span {
    transform: scale(1.1);
    // transform: rotate(360deg);
  }
}

/* ------------------------------------------------
                    NOISE
--------------------------------------------------- */
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  /* you can control opacity of noise  */
  opacity: 0.02;
  pointer-events: none;
  background: url("/src/images/noise.gif");
  z-index: 10;
}

// /* ------------------------------------------------
//                     HOME
// --------------------------------------------------- */
.home {
  display: grid;
  place-items: center;
  height: 92vh;
  width: 100%;
  position: relative;

  &__fadeup {
    opacity: 0;
    transition: 0.4s ease-out;
    transform: translateY(40px);
  }

  h2 {
    font-family: Termina, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    font-size: clamp(3rem, 10vw, 6rem);
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    height: 50%;
    z-index: 9;
    display: grid;
    place-items: center;
  }
}

img {
  height: 100%;
  width: auto;
  max-width: 75vw;
  object-fit: contain;
}

.image-wrap {
  transition: 1s ease-out;
  transition-delay: 0.2s;
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  visibility: hidden;

  img {
    transform: scale(1.3);
    transition: 2s ease-out;
  }
}

.animating {
  & .image-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    visibility: visible;
    transform: skewY(0);
  }

  & img {
    transform: scale(1);
    transition: 4s ease-out;
  }
}

.fading-up {
  opacity: 1;
  transition: 1s ease-out;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

a img {
  height: 2.5vw;
  width: 2.5vw;
  position: absolute;
  bottom: 3vw;
  right: 3vw;
}

/* ------------------------------------------------
SIDE BANNERS
--------------------------------------------------- */
.frame {
  position: fixed;

  &__top,
  &__bottom {
    height: var(--frame-of-shit-width);
    width: 100vw;
    background-image: url("https://assets.codepen.io/781414/horizontal-real.png");
    background-repeat: repeat-x;
    background-size: cover;
  }

  &__top {
    animation: horizontal var(--frame-of-shit-duration) linear infinite reverse;
  }

  &__bottom {
    bottom: 0;
    animation: horizontal var(--frame-of-shit-duration) linear infinite;
  }

  // Vertical
  &__left,
  &__right {
    width: var(--frame-of-shit-width);
    height: 100vh;
    background-repeat: repeat-y;
    background-size: cover;
  }

  &__left {
    background-image: url("https://assets.codepen.io/781414/vertical-real-left.png");
    animation: vertical var(--frame-of-shit-duration) linear infinite;
  }

  &__right {
    right: 0;
    top: 0;
    background-image: url("https://assets.codepen.io/781414/vertical-real.png");
    animation: vertical var(--frame-of-shit-duration) linear infinite reverse;
  }
}

@keyframes horizontal {
  to {
    background-position: 2550px 0%;
  }
}

@keyframes vertical {
  to {
    background-position: 0% 2550px;
  }
}

// Skulls
.skull {
  width: var(--frame-of-shit-width);
  height: var(--frame-of-shit-width);
  background-image: url("https://assets.codepen.io/781414/skull.png");
  background-size: contain;
  position: fixed;

  &.skull__top {
    top: 0;
  }

  &.skull__bottom {
    bottom: 0;
  }

  &.skull__left {
    left: 0;
  }

  &.skull__right {
    right: 0;
  }
}
