.clock__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  font-family: Termina, sans-serif;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #ffffff;
  color: transparent;
  font-size: clamp(2.5rem, 10vw, 6rem);
  width: 100%;

  p {
    // width: 80%;
    font-size: clamp(2.5rem, 10vw, 6rem);
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .clock__main p {
    width: 85%;
  }
}
